{% extends 'Todo/base.html' %}

{% block content %}
    <h1>Tag List</h1>
    <a href="{% url 'Todo:tag_add' %}" class="btn btn-primary mb-3">Add Tag</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        <a href="{% url 'Todo:tag_update' tag.pk %}" class="btn btn-sm btn-warning">Update</a>
                        <a href="{% url 'Todo:tag_delete' tag.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No tags yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}